.aboutSection {
  background-color: var(--main-bg-color);
  color: var(--white);
  border-bottom: 6px solid var(--blue);
}

.adoutContainer {
  padding: 40px 20px;
}

.imageWrapper {
  display: none;
}

.aboutTitle {
  margin-bottom: 20px;
  text-align: center;
}

.aboutText {
  margin-bottom: 20px;
}

.aboutCallBtn {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 2px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .aboutSection {
  }

  .adoutContainer {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    display: flex;
    gap: 20px;
  }

  .imageWrapper {
    display: block;
  }

  .aboutTitle {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .adoutContainer {
    width: 1100px;
    gap: 40px;
  }

  .aboutTitle {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .aboutSection {
    text-align: center;
  }

  .adoutContainer {
    width: 1280px;
  }

  .textWrapper {
    text-align: start;
  }

  .aboutTitle {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .aboutText {
    margin-bottom: 20px;
  }
}
