.contactsSection {
  min-height: 80%;
  padding-top: 80px;
  background-color: var(--main-bg-color);
  color: var(--white);
  border-bottom: 6px solid var(--blue);
}

.contactsContainer {
  padding: 40px 20px;
}
