.footerSection {
  background-color: var(--main-bg-color);
}

.footerContainer {
  padding: 40px 20px;
}

.logoLink {
  display: none;
}

.contactsList {
  padding-left: 0px;
}

.contactsItem {
  display: flex;
  gap: 16px;
}

.contactsTitle {
  width: 80px;
}

.contactInfo {
  margin-left: 10px;
}

@media screen and (min-width: 1280px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
  }

  .logoLink {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-decoration: none;
  }
}
