.servicesSection {
  background-color: var(--main-bg-color);
}

.servicesContainer {
  padding: 40px 20px;
}

.servicesTitle {
  text-align: center;
  font-size: 24px;
  padding: 0px;
}

.servicesList {
  padding: 0px;
  margin-top: 0px;
}

.servicesListItem {
  padding-top: 20px;
  padding-bottom: 20px;
}

.servisesListTitle {
  margin-bottom: 16px;
}

.servisesImage {
  margin-bottom: 20px;
}

.servisesContentWrapper {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .servicesSection {
  }

  .servicesContainer {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .servicesListItem {
    display: flex;
  }
}

@media screen and (min-width: 1100px) {
  .servicesContainer {
    width: 1100px;
  }
}

@media screen and (min-width: 1280px) {
  .servicesSection {
    text-align: center;
  }

  .servicesContainer {
    width: 1280px;
  }
}
